:root {
    --firstTheme: #FFFFFF;
    --firstThemeAccent: #b8b8b8;
    --secondTheme: #1C1D23;
    --secondThemeAccent: #555577;

    --pBlue: #555577FF;
    --niceGray: #191919;
    --lightPink: #f3d9fc;
    --darkPurple: #622097;
    --midBlue: #4da0ff;
    --happyBlue: #3dc5e0;
    --defaultFlexGap: 8px;
    --defaultBorderRadius: 8px;
    --defaultFontFamily: 'futuraDemi', arial, sans-serif;
    --defaultFontFamilyBold: 'futuraBold', arial, sans-serif;
    font-family: var(--defaultFontFamily);
    text-align: center;
    color: white;
    font-weight: normal;
}

body {
    background: no-repeat fixed linear-gradient(145deg ,var(--firstTheme), var(--firstThemeAccent));
}

* {
    color: var(--secondTheme);
    font-family: var(--defaultFontFamily);
    font-weight: normal;
    transition: 0.2s;
}

label {
    font-size: 18px;
}

input {
    border-color: var(--secondTheme);
    border-radius: var(--defaultBorderRadius);
    font-size: 18px;
    padding: 4px;
    background: var(--firstTheme);
}

button {
    transition: 0.2s;
    border-radius: var(--defaultBorderRadius);
    border: none;
    font-size: 15px;
    padding: 5px 5px;
    color: var(--firstTheme);
    background: var(--secondTheme);
    cursor: pointer;
}

button:hover {
    transition: 0.2s;
    color: white;
    background: var(--pBlue);
}

#debugTools {
    transition: 0s;
    border: solid 1px red;
    width: fit-content;
    padding: 15px;
    gap: 5px;
    z-index: 999999;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    overflow: auto;
    resize: both;
}

/* Messages Menu Specific */

.contentWrapper {
    display: flex;
    flex-direction: row;
}

.SideInfo {
    transition: 0s;
    background-color: var(--firstTheme);
    width: 200px;
    height: 100vh;
    min-width: 100px;
    max-width: 400px;
    overflow: auto;
    resize: horizontal;
}

.SideInfoUserContent {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

.SideInfoPfp {
    clip-path: circle(50px);
    width: 100px;
}

.SideInfoSettings {
    align-self: flex-end;
}

.ChattingWrapper {
    background-color: var(--firstThemeAccent);
    width: 100%;
    height: 100vh
}

/* Signup Menu Specific */

.selectPfpButton {
    margin-top: 5px;
    width: 250px;
}

.PfpChoiceButton {
    width: 100px;
}

.profilePicturesDisplay {
    display: flex;
    justify-self: center;
}

.profilePicturesDisplay button {
    border-radius: 0;
    font-size: 40px;
}

.profilePicturesDisplay img {
    width: 220px;
    border: 5px solid var(--secondTheme);
}

.signupHeader {
    font-family: var(--defaultFontFamilyBold);
    font-size: 60px;
}

.formSection {
    width: 80%;
    gap: 10px
}

.formSection button {
    font-size: 22px;
}

/* General items */

.verticalRow {
    display: flex;
    flex-direction: column;
}

.centerSectionColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.noMargin {
    margin: 0 !important;
}