<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/cdn/css/theFonts.css">
  <link rel="stylesheet" href="/cdn/css/messagesStyle.css">
  <link id="darkTheme" rel="stylesheet" href="/cdn/css/messagesStyleDarkTheme.css" disabled>
</head>
<body class="noMargin">

  <div id="contentWrapper" class="contentWrapper">

    <div id="SideInfo" class="SideInfo">
      <div class="SideInfoUserContent">
        <img id="SideInfoPfp" class="SideInfoPfp" src="/cdn/img/meshGradient.png">
        <h2 id="SideInfoUsername" class="SideInfoUsername noMargin">@Username</h2>
      </div>

      <div class="SideInfoSettings">
        <div>
          <label>Dark Theme:</label>
          <input type="checkbox" id="toggleThemeSwitch">
        </div>
        <button>Settings</button>
        <button onclick="window.location.href = window.location.origin">Exit</button>
      </div>
    </div>

    <div id="ChattingWrapper" class="ChattingWrapper">

      <template id="ChatMessageTemplate">
        <chatmessage>
          <div class="chatmessageUser">
            <img id="chatMessagePfp" class="chatMessagePfp" src="/cdn/img/meshGradient.png">
            <h2 id="chatMessageUsername">@Username</h2>
          </div>
          <h3 id="chatMessageInfo">This is a placeholder message! These things can actually get quite long... so this message is going to be long! Even if it takes up more bites...</h3>
        </chatmessage>
      </template>

      <div id="ChatContainer" class="ChatContainer"></div>

      <div id="MessageInputContainer" class="MessageInputContainer">
        <input id="MessageInput" class="MessageInput" placeholder="Send a message [min 3 characters]" minlength="3" maxlength="140">
        <button id="MessageSendBtn" class="MessageSendButton">Send</button>
      </div>
    </div>

  </div>

  <div id="debugTools" class="verticalRow" style="display: none">
    <h2>[DEBUG TOOLS]</h2>

    <section>
      <div>
        <label>Dark Theme:</label>
        <input type="checkbox" id="toggleThemeDebug">
      </div>

      <div style="text-align: left;">
        <label id="debugLocalStorageValues">
          Local Storage Values:
        </label>
      </div>
    </section>

  </div>

  <script src="/cdn/js/ClientTheme.js"></script>
  <script type="module" src="/cdn/js/WebsocketHandler.js"></script>
  <script src="/cdn/js/UserSettings.js"></script>
  <script src="/cdn/js/DebugHandler.js"></script>
</body>
</html>